* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #09090A;
    color: white;
    height: 100vh;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 48px;
    width: 100%;

    position: fixed; /*fixa o header*/
    background-color: #09090A;
}

button {
    background-color: transparent;
    color: #fff;
    cursor: pointer;

    font-family: 'Inter', sans-serif;;
    font-size: 16px;
    font-weight: 600;

    padding: 16px 24px;
    border: 1px solid #8B5CF6;
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: 12px;
}

form {
    display: flex;
    padding: 182px 48px 48px;
    width: fit-content;
}
/* habits-list */
.habits {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.habit {
    font-size: 32px;

    width: 64px;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* days-list */
.days {
    display: flex;
    gap: 48px; 
    margin-left: 32px;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.day div {
    color: #A1A1AA;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 700;
}

input {
    width: 64px;
    height: 64px;

    appearance: none; 
    -webkit-appearanse: none; 
    cursor: pointer;

    background-color: #18181B;
    border: 2px solid #27272A;
    border-radius: 8px;
}

input:checked { 
    background-color: #8B5CF6;
    border-color: #A78BFA;
}

@media (max-width:570px) {
    button > div {
        display: none;
    }
}
